.Projects{
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    height: 100%;
    padding: 1em;
}
.PortfolioTable {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background-color:aliceblue;
}
.Card{
    margin: 1em;
    padding: 0.25em;
    height: 100%;
    width: 25%;
    align-items: center;
    box-shadow: 0px 0px 10px black;
}
#Project3{
    max-width: 70%;

}

.ProjectContainer{
    height: 80%;
    width: 60%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: solid black;
    overflow-y:scroll;
    /* white-space: nowrap; */
    box-shadow: 0px 0px 10px black;
}


.text{
    color:darkslategray;
    justify-self:flex-end ;
}

.WebCode{
    display: flex;

}

@media screen and (max-width:680px) {
    .PortfolioTable{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Card{
        flex-direction: row;
        font-size: smaller;
        justify-content: center;
        align-items: flex-end;
        height: 30%;
        width: 90%;
    }
    
}

