.Projects{
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    height: 100%;
}
.PortfolioTable {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:aliceblue;
    position: relative;
}

.Card{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    height: 50%;
    width: 25%;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 10px black;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    text-decoration: none;
}

.PeakMind{
    background-image: url('../../Resources/Images/PeakMindImages/PeakMindLogo.png');

}
.FarmGame{
    background-image: url('../../Resources/Images/GameProject/FarmGameCoverImage.jpg');
}
.ChessBoard{
    background-size: 100% 90%;
    background-image: url('../../Resources//Images//ChessEngine/ChessBoardBackground.PNG');
}

.ImageSize{
    height: 92%;
    width: 100%;
}
.ProjectContainer{
    height: 80%;
    width: 60%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: solid black;
    overflow-y:scroll;
    /* white-space: nowrap; */
    box-shadow: 0px 0px 10px black;
    
}


.text{
    margin-top: 1em;
    color:darkslategray;
    justify-self:flex-end ;
}


.WebCode{
    display: flex;
    
}

@media screen and (max-width:680px) {
    .PortfolioTable{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Card{
        flex-direction: row;
        font-size: smaller;
        justify-content: center;
        align-items: flex-end;
        height: 30%;
        width: 90%;
    }
    
}

