
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body{
  min-height: 100vh; 
  display: flex;
  /* width: 100%; */
  position: absolute;
  width: 100%;
}
#root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.PageBox{
   min-height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;

}

.BodyBox{
  background-color: aliceblue;
  display: flex;
  /* flex-grow: 1; */
  height: 100%;
  max-width: 100%;
}
.FullHW{
  height: 100%;
  width: 100%;
}
